*{
    margin: 00% 5% 2% 5%;
}
table{
    padding: 1%;
    width: 80%;
    height: fit-content;
    background-color: rgb(138, 255, 109);
    text-align: center;
    /* margin: 0% 10% 0% 30%; */
}
#header{
    padding: 3%;
    background-color: rgb(0, 190, 41);
}
#menu{
    background-color: rgb(169, 231, 255);
}
#menu2{
    height: 30em;
    width: 28%;
    background-color: rgb(86, 86, 255);
   
}
#content{
    background-color: rgb(163, 79, 186);
}
#footer{
    padding: 2%;
    background-color: rgb(255, 193, 79);
    margin: 1%;
    height: 3em;
}